.cont_des1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    background-image: url(https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .challenge {
    display: flex;
    padding: 30px 10px;
    background-color: rgb(249, 246, 243);
    border: gold solid 7px;
    color: #1e1e1e;
    border-radius: 5px;
    display: flex;
    align-items: stretch;
    margin-top: 20px;
    width: 100vw;
    
  }
  
  .typing-animation {
    animation: typing 2s steps(40) forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    width: 0;
    font-size: 18px;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  